/* ###### NavBarComponent ###### */
.NavBarComponent {
  border: solid;
  width: 100%;
}

/* ###### LogoComponent ####### */
.LogoComponent {
  border: solid 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: rgb(57, 111, 182);
  color: #ddd;
  font-weight: 900;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin: auto 10px;
}

/* ###### NavLinkComponent ####### */
.NavLinkComponent {
  /* border: solid; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* ###### NavMenuComponent ###### */
.NavMenuComponent {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  /* border: solid; */
  width: 300px;
}
.NavMenuComponent .dropdown-menu-ul {
  top: 65px;
  position: absolute;
  right: 0;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 5px 10px;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: right;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 0 0 5px;
}
.NavMenuComponent .logout {
  cursor: pointer;
}

/* ###### NavProfilePicture ###### */

.NavProfilePicture {
  border: solid 2px;
  display: inline-flex;
  padding: 0px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #ddd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: auto 3px;
  margin-left: auto;
}
